{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [
          ">1%",
          "last 3 versions",
          "Firefox ESR",
          "not ie <= 9"
        ]
      }
    }],
    "stage-1",
    "react"
  ],
  "env": {
    "prod": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "> 1%",
                "last 2 versions",
                "Firefox ESR"
              ]
            },
            "useBuiltIns": true,
            "modules": false
          }
        ]
      ],
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}